/result
/source
/DagnySync.omnifocusjs/Resources/*.js
/build/
/node_modules/
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/dagny-omnifocus-plugin/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/dagny-omnifocus-plugin/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
